.brand-logo {
    width: 10%;
    padding: 1%;
}

.navbar {
    margin-bottom: 1%;
}

@media only screen and (max-width: 767px) {
    .brand-logo {
        width: 25%;
        padding: 2%;
    }

    .navbar {
        margin-bottom: 3%;
    }

    .navbar-toggler {
        margin-right: 2%;
    }
}

.nav-link {
    font-size: medium;
    font-weight: 500;
    color: black;
}

.nav-link:hover {
    color: #18c501;
}

.sublink-text1 {
    font-size: medium;
    font-weight: bold;
}

.sublink-text2 {
    color: grey;
}

#signup-btn {
    color: #ffff;
    font-weight: 550;
    background-color: #108A00;
}

#signup-btn:hover {
    background-color: #18cf00;
}